{% include directory ~ "/partials/header.html.twig" %}
<!-- Conteúdo da página -->
<section class = "container corpo">
    <div class = "corpo-textos">
        {{ page.content }}  
    </div>
</section>
{% include directory ~ "/partials/footer.html.twig" %}