{% if label %}
<section data-aos="zoom-in-up" class="programas-acoes branco aos-init aos-animate">
  <div class="section-container">    
    <div class="titulo-secao">
      <span>{{ label }}</span>
    </div>
    <div class="cards-container-wrap">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</section>
{% endif %}

