<!-- Footer -->
<footer>
	<div class="rodape">
		<div class="back-to-top"></div>
		<div class="rodape-completo">

			<ul class="menu-rodape">
				<li>
					<a class="item-menu-rodape" href="#">Inicio</a>
				</li>
				<li>
					<a class="item-menu-rodape" href="/projetos">Projetos</a>
				</li>
				<li>
					<a class="item-menu-rodape" href="/participacaoComunitaria">Participação Comunitária</a>
				</li>
				<li>
					<a class="item-menu-rodape" href="/governanca">Governança</a>
				</li>
				<li>
					<a class="item-menu-rodape" href="/ouvidoria">Ouvidoria</a>
				</li>
			</ul>


			
						<div class="socia-media-ft">
							{{ page.redesSociaisPortal }}
						</div>
						
<!--
			<div class="social-midia-sup" style="padding-left: 20px;">
				<ul>
					<li title="Instagram">
						<a class="icons instagram-sup" href="https://instagram.com/govrj" target="_blank">Instagram</a>
					</li>
					<li title="Facebook">
						<a class="icons facebook-sup" href="https://facebook.com/governodorio" target="_blank">Facebook</a>
					</li>
					<li title="Twitter">
						<a class="icons twitter-sup" href="https://twitter.com/GovRJ" target="_blank">Twitter</a>
					</li>
					<li title="Youtube">
						<a class="icons youtube-sup" href="https://youtube.com/user/GovRJ" target="_blank">Youtube</a>
					</li>
					<li title="Flickr">
						<a href="https://www.flickr.com/photos/governodorio/" target="_blank">
							<i class="fab fa-flickr fa-lg"></i>
						</a>
					</li>
				</ul>
			</div>
-->
			<div class="logo-rodape">

				<a href="http://www.rj.gov.br/">
					<img class="logo-rodape1" src="/sites/cidade-integrada/themes/rjgovconcessao/partials/logo-governo-g13.png">
				</a>

				<!--
				<a href="https://www.rio2030.org/">
					<img class="logo-rodape2" src="/sites/cidade-integrada/themes/rjgovconcessao/partials/rio 2030.png">
				</a>
				-->

			</div>


		</div>
	</div>
</footer>
