<h2><b>Protocolo do Formulário de Contato</b></h2>
<p>Olá {{ message_body.nome }}, segue seu protocolo <b>{{ message_body.protocolo }}</b> referente ao seu email abaixo:</p>
<p><b>Sugestão</b>: {{ message_body.sugestao }}</p>
<p><b>Mensagem</b>: {{ message_body.mensagem }}</p>