
<section >
    <div class="section-container">
         <div class="titulo-secao">
            {{ label }}
        </div>
        <div class="todas-noticias">
            {{ content }}
        </div>
    </div><!-- /.section-container -->
</section>
